# Folders
data/2017-2018/netcdf
data/2018-2019/netcdf/regrid/
data/2018-2019/raw/
data/2019-2020/raw/
data/2019-2020/netcdf
data/2021-2022/barreira/
data/2021-2022/netcdf
data/obs/
scripts/__pycache__
figs/
data/2018-2019/netcdf
data/TOP2022/netcdf
data/2018-2019/netcdf.on.home/
data/2020-2021/netcdf

# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
*.db
*.db:encryptable

# Other files
*.nc
*.orig
*.png
*.pdf
*.eps
*.ps
*.gif

# Logs
log*
